<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AddDetails</display-name>
    <servlet-name>AddDetails</servlet-name>
    <servlet-class>com.gs.hostelController.AddDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDetails</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <display-name>HostelAdmission_CRUD_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowDetails</display-name>
    <servlet-name>ShowDetails</servlet-name>
    <servlet-class>com.gs.hostelController.ShowDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetails</servlet-name>
    <url-pattern>/ShowDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDetails</display-name>
    <servlet-name>DeleteDetails</servlet-name>
    <servlet-class>com.gs.hostelController.DeleteDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDetails</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDetails</display-name>
    <servlet-name>EditDetails</servlet-name>
    <servlet-class>com.gs.hostelController.EditDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDetails</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.gs.hostelController.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostelList</display-name>
    <servlet-name>HostelList</servlet-name>
    <servlet-class>com.gs.hostelController.HostelList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostelList</servlet-name>
    <url-pattern>/HostelList</url-pattern>
  </servlet-mapping>
</web-app>